In [24]:
#string# 
"Hello World"
#List#
list = ["apple", "banana", "litchi"]
#float# 
float = 0.1234
#tuple
tuple = (1, 2, 3, 4)

In [23]:
var1 = ‘ ‘
var2 = ‘[ DS , ML , Python]’
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
var4 = 1

type(var1) 
type(var2) 
type(var3) 
type(var4)

ans- string, list, num

SyntaxError: invalid character '‘' (U+2018) (3261150022.py, line 1)

In [ ]:
/ used to give quotient to 2 numbers upto decimal places, ex- 3/3=1.0
% used to return the remainder of 2 number, ex-3%2=1
// used to give quotient but only interger place, ex- 3/3=1
** used to calculate exponential of one on another number, ex- 3**3=27

In [42]:
list = ("stop", 1, 2, "a", 6, 7, 0.45, "start", "V", 5)
for i in list:
    print(i)
    print (type(i))

stop
<class 'str'>
1
<class 'int'>
2
<class 'int'>
a
<class 'str'>
6
<class 'int'>
7
<class 'int'>
0.45
<class 'float'>
start
<class 'str'>
V
<class 'str'>
5
<class 'int'>

In [ ]:
a=int(input())
b=int(input())
c=0
if (a/b==0):
    while(a/b>=b and type(a/b)==int):
      c+=1
      a/=b
    c
else:
    print("not divisible")

In [6]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
l1=[]
l2=[]
for i in l:
    if i%3==0:
        l1.append(1)
    else:
            l2.append(i)
l1

[1, 1, 1, 1, 1, 1, 1, 1]

In [1]:
f=[1,2,3,4]

In [2]:
f[0]=2
f

[2, 2, 3, 4]

In [7]:
f=(1,2,3,4)

In [8]:
f[0]=2
f

TypeError: 'tuple' object does not support item assignment